<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">On main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto debitis, deleniti distinctio doloremque dolorum iste iusto laborum laudantium natus officiis quo reiciendis similique totam ullam ut voluptate! Consequatur ducimus error est excepturi explicabo harum magni natus obcaecati odit vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto debitis, deleniti distinctio doloremque dolorum iste iusto laborum laudantium natus officiis quo reiciendis similique totam ullam ut voluptate! Consequatur ducimus error est excepturi explicabo harum magni natus obcaecati odit vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto debitis, deleniti distinctio doloremque dolorum iste iusto laborum laudantium natus officiis quo reiciendis similique totam ullam ut voluptate! Consequatur ducimus error est excepturi explicabo harum magni natus obcaecati odit vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto debitis, deleniti distinctio doloremque dolorum iste iusto laborum laudantium natus officiis quo reiciendis similique totam ullam ut voluptate! Consequatur ducimus error est excepturi explicabo harum magni natus obcaecati odit vero!</p>
  </div>
</div>
